header {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #2980b9;
    padding: 10px;
    margin-bottom: 30px;
    letter-spacing: 5;
    font-size: 200%;

}

header h1 {
   display: inline-block;
   vertical-align: middle;
}

header .icon {
  font-size: 127%;
  border: 3px solid;
  display: inline-block;
  border-radius: 169px;
  padding: 23px;
  letter-spacing: 7px;
  margin-right: 20px;
}
h1 {
  margin: 0
}


body{
  margin:0;
}

icon {
  margin-right: 5px;
}

.rating-wrap {
  display: inline-block;
}

.button, button {
  text-decoration: none;
  color: #2c3e50;
  padding: 10px;
  border: 4px solid #2c3e50;
  display: inline-block;
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 125%;
}

.button:hover, .button:focus, button:hover, button:focus {
  color: #fff;
  background-color: #2c3e50;
}

.rating-icon {
  color: #2c3e50;
  font-size: 200%;
}

.rating-wrap {
  margin-top: 10px;
}

.cuisine {
  background-color: #c0392b!important;
}

p {
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 125%;
}