.title-wrap {
  position: absolute;
  right: 10;
  top: 10;
}

a {
  text-decoration: none;
}

input, select {
  color: #2c3e50;
  padding: 10px;
  border: 4px solid #2c3e50;
  display: inline-block;
  background-color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 125%;
}

input {
  padding: 11px;
}

.filter-label {
    display: inline-block;
    font-size: 120%;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    font-size: 125%;
    background-color: #;
    background-color: #2c3e50;
    color: #fff;
    padding-left: 10px;
}

.filter-input {
  width: 400px;
}
p {
  width: 86%;
  display: inline-block;
  margin: 0;
  margin-bottom: 15px;
}

.icon-left {
  width: 10%;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  font-size: 150%;
}

.description-wrap {
  margin-top: 15px;
}

.link {
  margin-top: 10px;
  color: #005e8d;
  padding: 5px;
  margin-bottom: 20px;
}
a:hover, a:focus {
  color: #fff;
  background-color: #2c3e50;
}

.content-wrap {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: 'Oswald', sans-serif;
  font-weight: 100;
  font-size: 125%;
  padding-left: 10px;
  position: relative;
  z-index: 2;
}

article {
    vertical-align: top;
    padding: 13px;
    border: 3px solid #2c3e50;;
}

.filter-section {
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
  padding: 13px;
  border: 3px solid #2c3e50;;
}

.restaurant-section {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 10px;
    margin-bottom: 19px;
    width: 30%;

}

section img {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    display: inline-block;
    border: 10px solid #2c3e50;
}

section h2 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: #2c3e50;
    padding: 10px;
    display:inline-block;

}
@media screen and (max-width: 1600px) {
  .restaurant-section {
    width: 45%;
  }
}


@media screen and (max-width: 1250px) {
  .restaurant-section {
    width: 95%;
  }
}


