<main>
  <header>
    <h1 tabindex="0">{{pageTitle}} <span class="restaurant-name" *ngIf="restaurant"> {{restaurant.name}} </span></h1>
  </header>
    <section>
      <button class="button" (click)="onBack()">
        <i class="icon-arrow-left"> </i> Back
      </button>
    <div *ngIf="restaurant">
      <h2>Description of the restaurant:</h2>
      <p>{{restaurant.description}}</p>
    </div>
    <label>
      <div>
        <h2>Your Name:</h2>
      </div>
      <input [(ngModel)]="model.reviewer" name="reviewer" placeholder="Your name" />
    </label>
    <label>
      <div>
        <h2>Review</h2>
      </div>
      <textarea [(ngModel)]="model.review" name="reviewText" placeholder="Your opinion on the restaurant..."></textarea>
    </label>
  <div>
    <div>
      <h2>Rating</h2>
    </div>
    <div class="radio-wrap">
    <label class="inline-label">
        <input [(ngModel)]="model.rating" type="radio" name="rating" value="1" />
        <i *ngIf="model.rating < 1" class="rating-icon icon-star-o"></i>
        <i *ngIf="model.rating > 0" class="rating-icon icon-star"></i>
      </label>
    </div>
        <div class="radio-wrap">
          <label class="inline-label">
            <input [(ngModel)]="model.rating" type="radio" name="rating" value="2" />
            <i *ngIf="model.rating < 2" class="rating-icon icon-star-o"></i>
            <i *ngIf="model.rating > 1" class="rating-icon icon-star"></i>
          </label>
        </div>
        <div class="radio-wrap">
          <label class="inline-label">
            <input [(ngModel)]="model.rating" type="radio" name="rating" value="3" />
            <i *ngIf="model.rating < 3" class="rating-icon icon-star-o"></i>
            <i *ngIf="model.rating > 2" class="rating-icon icon-star"></i>
          </label>
        </div>
        <div class="radio-wrap">
          <label class="inline-label">
            <input [(ngModel)]="model.rating" type="radio" name="rating" value="4" />
            <i *ngIf="model.rating < 4" class="rating-icon icon-star-o"></i>
            <i *ngIf="model.rating > 3" class="rating-icon icon-star"></i>
          </label>
        </div>
        <div class="radio-wrap">
          <label class="inline-label">
            <input [(ngModel)]="model.rating" type="radio" name="rating" value="5" />
            <i *ngIf="model.rating < 5" class="rating-icon icon-star-o"></i>
            <i *ngIf="model.rating > 4" class="rating-icon icon-star"></i>
          </label>
      </div>
    </div>

    <button (click)="onSaveReview()">Save review</button> <span *ngIf="errorMessage" class="error-message">{{errorMessage}} </span>

  </section>


</main>